 html,
 body {
     width: 100%;
     max-width: 100%;
     height: 100%;
     overflow: hidden;
     background-color: #4285f4;
 }
 
 .nav-pills>li>a {
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
 }
 
 .col-sm-2,
 .col-sm-10 {
     padding: 0;
 }
 
 .has-border {
     border: 1px solid #111;
 }
 
 .main {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
 }
 
 .main>div {
     height: 100%;
     max-height: 100%;
 }
 
 .main #voucherList {
     border-right: 1px solid #111;
     background-color: #fff;
 }
 
 .v-view,
 .v-edit {
     overflow: auto;
     position: relative;
     height: 49%;
     margin: 0 auto;
     background-color: #fff;
 }
 
 .v-separated {
     position: relative;
     height: 2%;
 }
 
 .over-view {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     font-size: 22px;
     color: #929698;
 }
 
 .view-top {
     text-align: center;
     position: absolute;
     left: 0;
     top: 25%;
     transform: translateY(-50%);
     right: 0;
 }
 
 .view-bottom {
     text-align: center;
     position: absolute;
     left: 0;
     top: 75%;
     transform: translateY(-50%);
     right: 0;
 }
 
 .btn-move {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     z-index: 20;
     display: none;
 }
 
 .btn-move.to-left {
     left: 0;
 }
 
 .btn-move.to-right {
     right: 0;
 }
  .header-edit{
  	padding-left: 0;
  }
  .body-edit{
  	padding-right: 0;
  }
 .header-edit:hover .btn-move,
 .body-edit:hover .btn-move {
     display: block;
 }
